<mat-toolbar class="mat-elevation-z8 success">
  <a routerLink="/home" class="admin-logo"><mat-icon>eco</mat-icon>T & G</a>
  <div class="center">
    <h5>Society Complain Management System</h5>
  </div>
  <a href="javascript:void(0)" class="bell-icon" mat-button>
    <mat-icon matBadge="{{ count }}" matBadgeColor="warn"
      >notifications_active</mat-icon
    >
    Requests
  </a>
  <a href="javascript:void(0)" class="bell-icon" mat-button>
    <mat-icon matBadge="11" matBadgeColor="warn">notifications_active</mat-icon>
    Complains
  </a>
</mat-toolbar>
