@import "variables";

mdb-navbar {
  // padding: 1rem 1rem !important;
  .navbar {
    padding: 1rem 1rem !important;
  }
  .nav-item {
    margin: 0 5px;
    .active {
      background-color: #007e33 !important;
    }
    .nav-link {
      padding: 1.5rem !important;
      color: $light-color;
      &:hover {
        background-color: #007e33;
        color: $light-color;
      }
    }
  }

  .user-text {
    font-size: 18px;
    color: $light-color;
    font-family: $primary-font-medium;
  }
}
