<app-sidebar></app-sidebar>
<div class="container-fluid">
  <div class="row">
    <!-- <div class="col-md-3"></div> -->
    <div class="col-md-8 offset-md-3 mt-5">
      <div class="row">
        <div class="col-md-4">
          <mdb-card class="p-4 perpel-card">
            <div class="media">
              <i class="fa fa-user-secret fa-2x mr-2"></i>
              <div class="media-body ml-2">
                <h4>Recived Requests</h4>
                <p>Total Requests :<span>0</span></p>
              </div>
            </div>
          </mdb-card>
        </div>
        <div class="col-md-4">
          <mdb-card class="p-4 blue-card">
            <div class="media">
              <i class="fa fa-comments-o fa-2x mr-2"></i>
              <div class="media-body ml-2">
                <h4>Recived Complains</h4>
                <p>Total Complains :<span>0</span></p>
              </div>
            </div>
          </mdb-card>
        </div>
        <div class="col-md-4">
          <mdb-card class="p-4 green-card">
            <div class="media">
              <i class="fa fa-check fa-2x mr-2"></i>
              <div class="media-body ml-2">
                <h4>Solved Complains</h4>
                <p>Total Solved Complains :<span>0</span></p>
              </div>
            </div>
          </mdb-card>
        </div>
        <div class="col-md-4 mt-4">
          <mdb-card class="p-4 light-card">
            <div class="media">
              <i class="fa fa-check fa-2x mr-2"></i>
              <div class="media-body ml-2">
                <h4>Solved Requests</h4>
                <p>Total Solved Requests :<span>0</span></p>
              </div>
            </div>
          </mdb-card>
        </div>
      </div>
    </div>
  </div>
</div>
