<section id="home">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-md-10">
        <div class="banner-container">
          <h2 class="main-heading">Register Your Complains or Resquests</h2>
          <h5 class="sub-heading mt-3">Goals and Objective wants to Achive</h5>
          <p class="main-desc mt-4">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non
            aperiam est, ad soluta, qui nostrum adipisci facilis, error sunt
            voluptatibus facere ut voluptatem sequi ipsa fugit odio dolorem quia
            suscipit!Perferendis id, rerum, tempora hic consequuntur ipsa.
          </p>
          <div>
            <button
              mdbBtn
              size="lg"
              color="success"
              outline="true"
              routerLink="/request"
              mdbWavesEffect
            >
              <span class="fa fa-hand-grab-o fa-lg"></span> &nbsp; Make Request
            </button>
            <button
              mdbBtn
              size="lg"
              color="light-green"
              outline="true"
              routerLink="/complain"
              mdbWavesEffect
            >
              <span class="fa fa-comments-o fa-lg"></span> &nbsp; Do Complain
            </button>
            <!-- <router-outlet></router-outlet> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
