<app-header></app-header>
<div class="container" id="request">
  <div class="row justify-content-center mt-5">
    <div class="col-md-10">
      <!-- Default form subscription -->
      <div class="text-center border border-light p-5 shadow-sm">
        <p class="h4 mb-4">Get Register Your Request</p>
        <p>
          As Soon as Poosible we try to complete your request.ThankYou!
        </p>
        <form
          class="normal-form"
          (submit)="submitRequest(operationService.form.value)"
          [formGroup]="operationService.form"
        >
          <div class="row">
            <div class="col-md-6">
              <!--Full Name -->
              <input
                type="text"
                class="form-control mb-4"
                placeholder="FullName"
                formControlName="fullname"
              />
            </div>
            <div class="col-md-6">
              <!-- Email -->
              <input
                type="email"
                class="form-control mb-4"
                placeholder="E-mail"
                formControlName="email"
              />
            </div>
          </div>
          <!-- Address -->
          <input
            type="text"
            formControlName="address"
            class="form-control mb-4"
            placeholder="Address"
          />
          <div class="row">
            <div class="col-md-6">
              <!-- PhoneNumber -->
              <input
                type="number"
                formControlName="mobile"
                class="form-control mb-4"
                placeholder="Phone Number"
              />
            </div>
            <div class="col-md-6">
              <!-- Request Type -->
              <select class="form-control mb-4" formControlName="requestType">
                <option value="disabled" disabled
                  >-- Select Request-Type --</option
                >
                <option
                  *ngFor="let option of optionsSelect"
                  value="{{ option.value }}"
                  id="defaultSubscriptionFormRequestType"
                  >{{ option.label }}</option
                >
              </select>
            </div>
          </div>
          <!-- File-Upload -->
          <div class="row justify-content-center">
            <div class="form-group">
              <div class="img-border mx-auto shadow">
                <img
                  [src]="imgSrc"
                  alt=""
                  class="img-size"
                  (click)="fileUploader.click()"
                />
              </div>
            </div>
          </div>
          <div class="form-group">
            <input
              type="file"
              accept="image/*"
              formControlName="imageUrl"
              class="form-control"
              #fileUploader
              (change)="showImagePreview($event)"
            />
          </div>
          <!-- Detail Request -->
          <textarea
            rows="8"
            formControlName="requestDetail"
            class="form-control mt-4"
            placeholder="Write Your Request"
          ></textarea>
          <!-- Sign in button -->
          <button mat-raised-button color="success" block="true" class="mt-4">
            Submit Request
          </button>
        </form>
      </div>
      <!-- Default form subscription -->
    </div>
  </div>
</div>
