<!-- Main Body -->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-11 offset-md-1">
      <table class="table table-hover table-striped" id="dataTable">
        <th>ImageUrl</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>PhoneNumber</th>
        <th>Type</th>
        <th>Request Details</th>
        <th>Actions</th>

        <tr *ngFor="let data of request">
          <td><img [src]="data.imageUrl" alt="image" /></td>
          <td>{{ data.fullname }}</td>
          <td>{{ data.email }}</td>
          <td>{{ data.address }}</td>
          <td>{{ data.phonenumber }}</td>
          <td>{{ data.requestType }}</td>
          <td>{{ data.requestDetails }}</td>
          <td class="d-flex">
            <button
              mdbBtn
              color="success"
              size="sm"
              mdbWavesEffect
              (click)="editRequest(data)"
            >
              <img
                src="../../../../assets/images/icons/edit-w.png"
                alt="edit.png"
                class="icon-size"
              />
            </button>
            <button mdbBtn color="danger" size="sm" mdbWavesEffect>
              <img
                src="../../../../assets/images/icons/delete.png"
                alt="delete.png"
                class="icon-size"
              />
            </button>
          </td>

          <!-- body -->
        </tr>
      </table>
    </div>
  </div>
</div>
