<!-- Main Body -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-11 offset-md-1">
      <table class="table table-hover table-striped">
        <thead>
          <th>Full Name</th>
          <th>Email</th>
          <th>Address</th>
          <th>PhoneNumber</th>
          <th>Type</th>
          <th>Complain Details</th>
          <th>Actions</th>
        </thead>
        <tbody *ngFor="let data of complain">
          <tr>
            <td>{{ data.fullname }}</td>
            <td>{{ data.email }}</td>
            <td>{{ data.address }}</td>
            <td>{{ data.phonenumber }}</td>
            <td>{{ data.complainType }}</td>
            <td>{{ data.complainDetails }}</td>
            <td class="d-flex">
              <button
                mat-button
                class="edit-btn"
                (click)="editComplain(data)"
                (click)="openDialog()"
              >
                <img
                  src="../../../../assets/images/icons/edit-w.png"
                  alt="edit.png"
                  class="icon-size"
                />
              </button>
              <button mat-button class="delete-btn">
                <img
                  src="../../../../assets/images/icons/delete.png"
                  alt="delete.png"
                  class="icon-size"
                />
              </button>
            </td>
          </tr>
          <!-- body -->
        </tbody>
      </table>
    </div>
  </div>
</div>
