<!-- Main Body -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-11 offset-md-1">
      <table class="table table-hover table-striped">
        <thead>
          <th>Full Name</th>
          <th>Email</th>
          <th>Address</th>
          <th>PhoneNumber</th>
          <th>Type</th>
          <th>Complain Details</th>
          <th>Actions</th>
        </thead>
        <tbody *ngFor="let data of complain">
          <tr>
            <td>{{ data.fullname }}</td>
            <td>{{ data.email }}</td>
            <td>{{ data.address }}</td>
            <td>{{ data.phonenumber }}</td>
            <td>{{ data.complainType }}</td>
            <td>{{ data.complainDetails }}</td>
            <td class="d-flex">
              <button
                mat-button
                class="edit-btn"
                (click)="editComplain(data)"
                (click)="openDialog()"
              >
                <img
                  src="../../../../assets/images/icons/edit-w.png"
                  alt="edit.png"
                  class="icon-size"
                />
              </button>
              <button mat-button class="delete-btn">
                <img
                  src="../../../../assets/images/icons/delete.png"
                  alt="delete.png"
                  class="icon-size"
                />
              </button>
            </td>
          </tr>
          <h1 mat-dialog-title>Edit</h1>
          <div mat-dialog-content>
            <div class="row">
              <div class="col-md-6">
                <!--Full Name -->
                <input
                  type="text"
                  name="fullname"
                  class="form-control mb-4"
                  placeholder="FullName"
                  [(ngModel)]="data.editfullname"
                />
              </div>
              <div class="col-md-6">
                <!-- Email -->
                <input
                  type="email"
                  name="email"
                  class="form-control mb-4"
                  placeholder="E-mail"
                  [(ngModel)]="data.editemail"
                />
              </div>
            </div>
            <!-- Address -->
            <input
              type="text"
              name="address"
              class="form-control mb-4"
              placeholder="Address"
              [(ngModel)]="data.editaddress"
            />
            <div class="row">
              <div class="col-md-6">
                <!-- PhoneNumber -->
                <input
                  type="number"
                  name="phonenumber"
                  class="form-control mb-4"
                  placeholder="Phone Number"
                  [(ngModel)]="data.editphonenumber"
                />
              </div>
              <div class="col-md-6">
                <!-- Request Type -->
                <select
                  class="form-control mb-4"
                  [(ngModel)]="data.editcomplainType"
                  name="requestType"
                >
                  <option value="disabled" disabled
                    >-- Select Request-Type --</option
                  >
                  <option
                    *ngFor="let option of optionsSelect"
                    value="{{ option.value }}"
                    >{{ option.label }}</option
                  >
                </select>
              </div>
            </div>
            <!-- Do Request -->
            <textarea
              rows="8"
              name="requestDetails"
              class="form-control"
              placeholder="Write Your Request"
              [(ngModel)]="data.editcomplainDetails"
            ></textarea>
            <!-- update  button -->
            <button
              mdbBtn
              color="success"
              (click)="updateComplain(data)"
              class="mt-4"
              block="true"
            >
              Update Record
            </button>
          </div>
          <div mat-dialog-actions>
            <button mat-button mat-dialog-close>Close</button>
          </div>
          <!-- body -->
        </tbody>
      </table>
    </div>
  </div>
</div>
