<div class="sidebar">
  <a href="javascript:void(0)" routerLink="admin" routerLinkActive="active"
    ><span class="fa fa-tachometer fa-lg"></span>&nbsp;DashBoard</a
  >
  <a
    href="javascript:void(0)"
    routerLink="reciverequest"
    routerLinkActive="active"
    ><span class="fa fa-user-secret fa-lg"></span>&nbsp;Requests</a
  >
  <a
    href="javascript:void(0)"
    routerLink="recivecomplain"
    routerLinkActive="active"
    ><span class="fa fa-comments-o fa-lg"></span>&nbsp;Complains</a
  >
</div>
