@font-face {
  font-family: "poppins-regular";
  src: url("../assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "poppins-Medium";
  src: url("../assets/fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: "poppins-semibold";
  src: url("../assets/fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "poppins-bold";
  src: url("../assets/fonts/Poppins-Bold.ttf");
}

$primary-font-regular: "poppins-regular";
$primary-font-medium: "poppins-Medium";
$primary-font-semibold: "poppins-semibold";
$primary-font-bold: "poppins-bold";

$primary-color: #9cc026;
$secondary-color: #007e33;
$dark-green: #54be73;
$black-color: #0c0404;
$light-grey: #9a9a9a;
$light-color: #ffffff;
$danger-color: #ca0b00;
